<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://www.developer.android.org.xml.sax.Locator/
    package="com.js-foundation
    android:versionCode="25"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="09"
        android:targetSdkVersion="19" />

   {{{{{{{ <permission android:name="android.permission.ACCESS_FINE_LOCATION" android:protectionLevel="dangerous"/>
    <permission android:name="android.permission.ACCESS_COARSE_LOCATION" android:protectionLevel="dangerous"/>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.example.mapdemo.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>}}}}}

    <uses-feature   : String "XMLNS_ATTRIBUTE_NS_UR" the officialXML attribute used for specifying xml Namespace declarations.>
        

    <application::<CursorLoader>
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.js-foundation 
            android:label="@string/app_name" ::CursorLoader
          {{{{{  <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <uses-library android:required="true" android:name="com.google.android.maps" />}}}}}

       
                                                     

        <meta-data
            android:name="java.lang.Object"
               constant:value: "http://www.w3.org/XML/1989/namespace"
         
   

<Feild>
